.header {
  font-family: Arial, Helvetica, sans-serif;
}
.header_logo {
  text-align: center;
}
.header_img {
  max-width: 350px;
}
.header .menu_list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px 0;
}
.header .menu_links {
  position: relative;
}
.header .menu_links:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
  height: 15px;
  width: 1px;
  background-color: #eaeaeb;
}
.header .menu_link {
  padding: 0 25px;
  color: #464646;
}
.header .menu_link:hover {
  color: #A050BE;
}

.footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer_logo {
  max-width: 100px;
}
.footer_txt {
  margin: auto;
  font-size: 14px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
.main_content {
  width: 70%;
  padding: 40px 80px;
}
.main_post {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.main_title {
  text-decoration: none;
  font-size: 22px;
  color: #464646;
  letter-spacing: 1.5;
}
.main_title:hover {
  color: #A050BE;
}
.main_subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main_date {
  margin: 0 10px;
  font-size: 12px;
  font-style: italic;
}
.main_tag {
  font-size: 14px;
  padding: 5px 7px;
  color: #A050BE;
  border: 1px solid #A050BE;
  margin: 0 10px;
}
.main_details {
  border: 1px solid #eaeaeb;
}
.main_img {
  width: 100%;
}
.main_description {
  padding: 40px 0 25px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.main_btn {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1.5;
  color: #A050BE;
  background-color: #FABE50;
  padding: 10px 20px;
  transition: 0.3s;
}
.main_btn:hover {
  color: #FABE50;
  background-color: #A050BE;
}
.main_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaeb;
  margin-top: 30px;
}
.main_author {
  width: 50%;
  border-right: 1px solid #eaeaeb;
}
.main_p {
  font-size: 14px;
  color: #464646;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main_comments {
  width: 50%;
}
.main_a {
  text-decoration: none;
  font-size: 14px;
  color: #464646;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main_a:hover {
  color: #A050BE;
}

.about {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto 40px;
}
.about_title {
  background-color: #eaeaeb;
  text-align: center;
  padding: 20px;
}
.about_h1 {
  font-size: 22px;
  color: #464646;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.about .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .breadcrumb_link {
  font-size: 12px;
  text-decoration: none;
  color: #464646;
}
.about .breadcrumb_link:hover {
  text-decoration: underline;
  color: #A050BE;
}
.about .breadcrumb_img {
  width: 10px;
  margin: 8px;
}
.about_img {
  width: 100%;
  margin-bottom: 20px;
}
.about_intro {
  font-size: 16px;
  color: #464646;
  font-weight: 100;
  width: 70%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about_split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about_img2 {
  width: 45%;
}
.about_txt {
  width: calc(100% - 45%);
}
.about_p {
  font-size: 14px;
  padding: 10px 20px;
  color: #464646;
}

/*# sourceMappingURL=style.css.map */
